*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(thumb-1920-81939.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.wraper{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    width: 420px;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 10px -10px 100px  white;
}
.wraper h1{
    font-size: 36px;
    text-align: center;
}
.wraper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    /* background-color: salmon; */
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.input-box input ::placeholder{
    color: black;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;   
}
.wraper .Forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.Forgot label input{
    accent-color: white;
    margin-right: 3px;
}
.Forgot a{
    color: #fff;
    text-decoration: none;
}
.Forgot a:hover{
    text-decoration: underline;
}
.wraper .btn{
    height:45px;
    width: 100%;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}
.last{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.last p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.last p a:hover{
    text-decoration: underline;
}